/* ::::: http://s.ytimg.com/yt/cssbin/www-embed-vflzxrp9e.css ::::: */

.yt-uix-button::-moz-focus-inner { border: 0pt none; }
@media not all {
}
body { line-height: 1; text-align: left; }
body { margin: 0pt; padding: 0pt; border: 0pt none; font-size: 100%; }
a, abbr, acronym, address, applet, b, big, blockquote, button, canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var { margin: 0pt; padding: 0pt; border: 0pt none; font-size: 100%; background: none repeat scroll 0% 0% transparent; }
html { overflow: hidden; }
body { font: 12px Arial,sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); height: 100%; width: 100%; overflow: hidden; position: absolute; }
.full-frame { width: 100%; height: 100%; }
.hid { display: none; }
